*.mat
*.pdf
*.ipynb_checkpoints
*.txt
*.pickle
*.pyc
v1/lib/__pycache__/experiment.cpython-38.pyc
lvs/lib/NDNT
lvs/lib/NTdatasets
lvs/__pycache__
lvs/lib/__pycache__
lvs/.virtual_documents
lvs/web
lvs/fun
v1/Mdata
v1/NDNT
v1/NTdatasets
v1/checkpoints
v1/archive/checkpoints
v1/figs
v1/nim
v1/experiments
v1/__pycache__
v1/viz/nim
v1/viz/figs
v1/archive/__pycache__/
